IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter/bin
IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter/obj
IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter.ConsoleExample/bin
IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter.ConsoleExample/obj
IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter.Tests/bin
IsKernel.ServiceClients.GrandTrunk.HistoricCurrencyConverter.Tests/obj