GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApi/bin
GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApi/obj
GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiTests/bin
GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiTests/obj