src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApi/bin
src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApi/obj
src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiTests/bin
src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiTests/obj
src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiExample/bin
src/GrandTrunkCurrenciesApi/GrandTrunkCurrenciesApiExample/obj